---
import { menuLinks } from "@/site-config";
---

<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-20 text-center align-top text-gray-500 sm:flex-row sm:justify-between sm:text-xs"
>
	<div class="flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-gray-500">
		<a
			href="https://uncopyright.thuanowa.com"
			class="px-4 py-2 sm:px-2 sm:py-0 sm:hover:text-textColor sm:hover:underline">Uncopyright</a
		>
		<a href="/rss.xml" class="px-4 py-2 sm:px-2 sm:py-0 sm:hover:text-textColor sm:hover:underline"
			>RSS</a
		>
	</div>
	<nav
		aria-label="More on this site"
		class="flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-gray-500"
	>
		{
			menuLinks.map((link) => (
				<a
					href={link.path}
					class="px-4 py-2 sm:px-2 sm:py-0 sm:hover:text-textColor sm:hover:underline"
				>
					{link.title}
				</a>
			))
		}
	</nav>
</footer>
