---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 999;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

import { Image } from "astro:assets";
import thuanowaFace from "/public/thuanowa-face.png";
---
<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Yo!</h1>
		<div class="space-y-6">
			<Image
				src={thuanowaFace}
				width={250}
				format={"png"}
				alt="thuan pham aka thuanowa face"
				loading="eager"
			/>
			<SocialList />
			<ul>
				<strong>Bio</strong>
				<li>
					Dead: <a href="https://thuanowa.github.io/last-will" class="cactus-link inline-block"
						>thuanowa.github.io/last-will</a
					>
				</li>
				<li>2023+: Finding the video editor position</li>
				<li>2019-2023: Studing in Saigon Technology University</li>
				<li>
					2018: Start make making video on youtube <a
						href="https://www.youtube.com/@thuanowa"
						class="cactus-link inline-block">https://www.youtube.com/@thuanowa</a
					>
				</li>
				<li>
					2007-2019: Spent 12 years study in Nguyễn Văn Trân Primary School, Đa Phước Middle School
					and Đa Phước High School
				</li>
				<li>2001: Born in Ho Chi Minh city, Vietnam</li>
			</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Links</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a
					href="https://thuanowa.github.io/payme"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Payment
				</a>
			</li>
			<li>
				<a
					href="https://thuanowa.github.io/resume"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Resume
				</a>
				<p class="inline-block italic text-gray-500 sm:mt-2">
					*I am currently looking for a video editor position in Ho Chi Minh City or remotely.
				</p>
			</li>
			<li>
 				<a
					href="https://thuanowa.github.io/photos"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Photos
				</a>
			</li>
			<li>
				<a
					href="https://thuanowa.github.io/music"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Music i like
				</a>
			</li>
			<li>
				<a
					href="https://m.me/thuanowa"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Chat with me
				</a>
			</li>
		</ul>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
		<a href="/posts" class="cactus-link italic">see more</a>
  </section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Calendar</h2>
<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=Asia%2FHo_Chi_Minh&showTitle=0&mode=AGENDA&src=dGh1YW5vd2FAZ21haWwuY29t&color=%23009688" style="border-width:0" width="500" height="600" frameborder="0" scrolling="no"></iframe>
    </section>
  </PageLayout>
